<div class="info_part__concerts-container">
  <h1 class="info_part__concerts-container__h1">Admin Page</h1>
  <div class="info_part__concerts-container__order-info-container">
    <h1 class="info_part__concerts-container__h1">Add a new concert</h1>
    <form class="info_part__concerts-container__order-info-container__form add-form">
      <label for="title">Artist's name</label>
      <input id="title" type="text">
      <br>
      <label for="date">Date</label>
      <input id="date" type="text">
      <br>
      <label for="place">Place</label>
      <input id="place" type="text">
      <br>
      <label for="description">Description</label>
      <input id="description" type="text">
      <br>
      <label for="imgUrl">Link to the image</label>
      <input id="imgUrl" type="text">
      <br>
      <label for="dancefloorDescription">Dance floor description</label>
      <input id="dancefloorDescription" type="text">
      <br>
      <label for="danceFloorQuantity">Number of spots on the dance floor</label>
      <input id="danceFloorQuantity" type="text">
      <br>
      <label for="danceFloorPrice">Price (dance floor)</label>
      <input id="danceFloorPrice" type="text">
      <br>
      <label for="tableSeatsDescription">Table seats description</label>
      <input id="tableSeatsDescription" type="text">
      <br>
      <label for="tableSeatsQuantity">Number of tables seats</label>
      <input id="tableSeatsQuantity" type="text">
      <br>
      <label for="tableSeatsPrice">Price (table seat)</label>
      <input id="tableSeatsPrice" type="text">
      <button type="submit" class="info_part__concerts-container__order-info-container__form__admin-button-confirm add-button">
        Add
      </button>
    </form>
    <h1 class="info_part__concerts-container__h1">Deleting a concert</h1>
    <form class="info_part__concerts-container__order-info-container__form remove-form">
      <label for="concertId">Concert id</label>
      <input id="concertId" type="text">
      <br>
      <button type="submit" class="info_part__concerts-container__order-info-container__form__admin-button-confirm remove-button">
        Delete
      </button>
    </form>
    <h1 class="info_part__concerts-container__h1">Are you leaving this page? Don't forget to click on the button below!</h1>
    <div class="info_part__concerts-container__admin-log-out-button">
      Log out
    </div>
  </div>
</div>
