<div class="footer">
  <div class="footer__box">
    <div class="footer__box__text">
      <div class="footer__box__text__leftpart">
        <p class="footer__box__text__leftpart__name">
          Go Dancing sp. z o.o.
        </p>
        <p class="footer__box__text__leftpart__name__number">939383838
        </p>
      </div>
      <div class="footer__box__text__rightpart">
        <p class="footer__box__text__leftpart__name">
          +48 555 55 55
        </p>
        <p class="footer__box__text__leftpart__name__number">
          <a href="mailto:denkazarin@icloud.com" style="color:#ffffff">biuro@godancing.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
