<div class="info_part__top">
<div class="info_part__top__text">
  <h1>Our concerts<br><span class="lang_c">in Europe</span><br></h1>
</div>
<div class="info_part__form">
  <a href="#/concerts" class="header__concert_button1 info_part__form__button_mobile">
    Choose a concert
  </a>
  <form class="contact-form">
    <fieldset>
      <legend>Contact us</legend>
      <input class="form-name" type="text" placeholder="Name">
      <input class="form-tel" type="text" placeholder="Phone">
      <input class="form-email" type="text" placeholder="Email">
      <h3>Or call the number <span class="number"><br><br>+48 555 55 55</span></h3>
    </fieldset>
    <button type="submit" class="info_part__form__buttonsubmit">Submit</button>
  </form>
</div>
</div>
<div class="info_part2">
<div class="info_part2__div">
  <h1 class="info_part2__div_h1">Who are we?</h1>
  <div class="info_part2__info">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </div>
</div>
<div class="info_part2__button_block">
  <a href="#/concerts" class="info_part2__concert_button2 button_normal_hover">
    Choose a concert
  </a>
</div>
</div>
