<div class="info_part__concerts-container">
  <a href="#/concerts" class="info_part__concerts-container__button-to-concerts-list">
      Back to the concerts list
  </a>
  <h1 class="info_part__concerts-container__h1">Please make a new booking</h1>
</div>
