<h2 class="info_part__concerts-container__order-info-container__h2">Your order has been successfully booked</h2>
<a href="#/concerts" class="info_part__concerts-container__order-info-container__buttonToRedirect">
  Go back to the concerts list
</a>
